/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* In your index.css or App.css */
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white; /* Ensure body is white */
}

#root {
  background-color: white; /* Ensure root div is white */
}